[Tt]humbs.db
*.DS_Store
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.dbmdl
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
*.resharper
_ReSharper.*
[Tt]est[Rr]esult*
[Bb]uild/
~$*

/TODO.txt
/doc/DDD.SlidePack/.idea/.name
/doc/DDD.SlidePack/.idea/SlidePack.iml
/doc/DDD.SlidePack/.idea/encodings.xml
/doc/DDD.SlidePack/.idea/misc.xml
/doc/DDD.SlidePack/.idea/modules.xml
/doc/DDD.SlidePack/.idea/scopes/scope_settings.xml
/doc/DDD.SlidePack/.idea/vcs.xml
/doc/DDD.SlidePack/.idea/workspace.xml